body {
    margin: 0;
}

nav {
    margin: 0;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: violet;
    padding: 10px 0;
    z-index: 1;
}

nav > h1 {
    margin: auto;
    width: fit-content;
}

nav > h1:hover {
    color: white;
}

.bannerSection {
    position: relative;
}

.bannerImage {
    width: 100%;
}

.bannerText {
    position: absolute;
    top: 20%;
    left: 15%;
}

.bannerText > h3,.bannerText >  h4,.bannerText >  h5{
    color: white;
    font-size: 2.5rem;
}

.bannerButton {
    font-size: 2.5rem;
    padding: 10px 30px 10px 30px;
    background-color: brown;
}

.bannerButton:hover {
    background-color: red;
}

.solutionsSection {
    display: grid;
    grid-template-areas: 'fs fs fs fs ss ss ss ss ts ts ts ts';
    margin: auto;
    color: black;
}


.gridBanner {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.firstSection {
    grid-area: fs;

}

.secondSection {
    grid-area: ss;
}

.thirdSection {
    grid-area: ts;
}

.endSection {
    margin: auto;
    width: 40vh;
    text-align: center;
}

.gridText {
    font-size: 2.5rem;
    text-align: center;
}

.endButton {
    padding: 10px 30px 10px 30px;
    background-color: brown;
}

.endButton:hover {
    background-color: red;
}